<template>
  <v-row class="about">
    <v-column class="card1">
      <v-card>
        <v-img
          alt="img"
          src="https://picsum.photos/id/11/500/300"
          lazy-src="https://picsum.photos/id/11/10/6"
          aspect-ratio="1"
          class="grey lighten-2"
          max-width="500"
          max-height="300"
        ></v-img>
        <v-card-title>Title-1</v-card-title>
        <v-card-subtitle>Subtitle-1</v-card-subtitle>
        <v-card-text>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </v-card-text>
      </v-card>
    </v-column>
    <v-column>
      <v-card>
        <v-img
          alt="img"
          src="https://picsum.photos/id/11/500/300"
          lazy-src="https://picsum.photos/id/11/10/6"
          aspect-ratio="1"
          class="grey lighten-2"
          max-width="500"
          max-height="300"
        ></v-img>
        <v-card-title>Title-2</v-card-title>
        <v-card-subtitle>Subtitle-2</v-card-subtitle>
        <v-card-text>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </v-card-text>
      </v-card>
    </v-column>
  </v-row>
</template>

<style scoped>
.about {
  margin-top: 70px;
}
.card1 {
  float: left;
  margin-right: auto;
  margin-bottom: auto;
}
</style>
