<template>
  <v-footer class="py-4" dark height="auto">
    <v-container mx-auto>
      <v-layout wrap>
        <v-flex xs9>This is a Footer</v-flex>
        <v-spacer />
      </v-layout>
    </v-container>
  </v-footer>
</template>

<script>
export default {};
</script>
