<template>
  <div>
    <v-toolbar app flat style="background-color:#f5f5f5;">
      <v-app-bar-nav-icon @click="drawer = ! drawer" class="hidden-md-and-up"></v-app-bar-nav-icon>
      <v-toolbar-title>Logo</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn text to="/">Home</v-btn>
        <v-btn text to="/about">About</v-btn>
        <v-btn text to="/contact">Contact Us</v-btn>
        <v-btn text to="/gallery">Gallery</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-navigation-drawer app v-model="drawer" class="hidden-md-and-up">
      <v-list></v-list>
      <v-list-item>
        <v-list-item-content>
          <v-btn text to="/">Home</v-btn>
        </v-list-item-content>
      </v-list-item>
      <v-list-item>
        <v-list-item-content>
          <v-btn text to="/about">About</v-btn>
        </v-list-item-content>
      </v-list-item>
      <v-list-item>
        <v-list-item-content>
          <v-btn text to="/contact">Contact Us</v-btn>
        </v-list-item-content>
      </v-list-item>
      <v-list-item>
        <v-list-item-content>
          <v-btn text to="/gallery">Gallery</v-btn>
        </v-list-item-content>
      </v-list-item>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      drawer: false
    };
  }
};
</script>