<template>
  <div id="app">
    <v-app>
      <Header />
      <v-content>
        <v-container fill-height class="mx-4">
          <router-view />
        </v-container>
      </v-content>
      <Footer />
    </v-app>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
export default {
  components: {
    Header,
    Footer
  }
};
</script>


